<h2>Current Members</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @current_members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
